body{
    padding-top:20px;
}
.wrapper{
    width: 1200px;
    margin: auto;
    padding-top: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}
.logo{
    display: inline-block;
    width: 598px;
    height: 70px;
    margin-top: 0px;
    vertical-align: top;
    font-family: Montserrat, sans-serif;
    color: #95e1d3;
    font-size: 30px;
}
nav{
    display: inline-block;
    width: 598px;
    height: 70px;
    margin-left: -4px;
    padding-top: 0px;
}
ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    font-family: Montserrat, sans-serif;
    color: #95e1d3;
    font-size: 14px;
    text-transform: uppercase;
}
li:hover{
    color:#f38181;
    border-bottom: 3px solid #f38181;
}
li{
    padding-bottom: 7px;
}
section{
    margin-top: 85px;
}
h4{
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
}
h4::first-letter{
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase; 
    color:#333333;
}
h3{
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    text-transform:uppercase;
    font-weight: 600; 
    text-align: center;
    margin-bottom: 40px;
    color:#333333;
}
.line{
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: auto;
}
main{
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    flex-wrap:wrap;

}
img{
    float: left;
    margin-right: 25px;
    margin-bottom: 40px;
}
.services{
    display: inline-block;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: #333333;
    text-transform: uppercase;
    vertical-align: top;
}
.icons{
    display: block;
    width: 370px;
    height: 110px;
}
p{
    font-family:Roboto, sans-serif;
    font-size: 15px;
    color:#999999;
    margin-top: 3%;
}
.comment{
    display: inline-block;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}
.card_left, .card_mid, .card_right{
    position: relative;
    width: 380px;
    height: 470px;
    
}
.card_left:hover, .card_mid:hover, .card_right:hover{
    transform: translate(-10px, -10px);
    transition: linear 220ms;
    box-shadow: 10px 10px #95e1d3;
}
.social{
    display: none;
    position: absolute;
}
.card_left:hover .social, 
.card_mid:hover .social,
.card_right:hover .social{
    
    display: flex;
    justify-content:center;
    top: 0%;
    align-items:center;
    flex-shrink: 1;
    width: 380px;
    height: 470px;
    background: linear-gradient(to top, rgba(250, 227, 138, 0.8), 
    rgba(241, 129, 129, 0.8));
    
}
.items{
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    background: #fce38a;
    margin-right: 1px;
    position: relative;
    
}
.items :hover{
    background:#95e1d3;
}
.items >img {
    
    position: absolute;
    top:30px;
    left: 28px;
    transform: translate(-50%, -56%);
    
} 
/*.card_wrapper a{
    display: block;
    
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    background: #fce38a;
    margin-right: 1px;
    position: absolute;
}*/
.card_wrapper{
    width: 380px;
    height: 700px;
}
.signs{
    text-align: center;
    
    
}
.name{
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}
.role{
    color: #999999;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: italic;
    
}

.signs h3{
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline;
    
    
}
h3 >span{
    display: block;
    color: #999999;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-top: 15px;
    text-transform: initial;

}