body{
    
    background:url('./img/fondz3.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    padding-top:75px;  
    padding-bottom: 75px;
    
}
    
.wrapper{
    display:block;
    box-sizing: border-box;
    padding: 25px 37px 0px 37px;
    width:480px;
    height:1390px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
}
.img{
    height:100px; 
    width:406px;
    
}    
h2{
    
    margin-top: 0px;
    padding-top:25px;
    padding-bottom:25px;
    font-size:25px;
    margin-bottom:0px;
    font-family: "Pathway Gothic One", sans-serif;
    color:#263555; 
} 
h4{
    
    font-family: Arial,  sans-serif;
    font-size:14px;
    font-weight: normal;
    line-height:19px;
    color:#263555; 
    
}
p{
    font-size:12px; 
    line-height:17px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: normal;
}    
.imp{
    display: block;
    padding-right: 70px;
    margin-top:-25px;
    font-family: Arial, sans-serif;
    font-size:12px;
    line-height:17px;
    }
.omp{
    display: block;
    padding-right: 70px;
    font-family: "Arial"; sans-serif;
    font-size:12px;
    line-height:17px;
}
.velit{
    display: block;
    padding-right: 70px;
    font-family: Arial, sans-serif;
    font-size:12px;
    line-height:17px;
}
.line{
display:block;
height: 1px;
width:406px;
background:grey;
margin-top:50px;
margin-bottom:25px;
}
.bot{
    display:block;
    margin-top:-25px;
}
.lines{
    padding-left:25px;
    padding-top:15px;
}
li{
    display: inline-block;
    width:45%;
    line-height:22px;
    color:#263555;
    padding-bottom:0px;
    vertical-align: top;
    margin-right:17px;
    margin-bottom:10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    list-style: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0885c1eebba44ffc4526a40e5f7bcc0b8926e63f
