

body{
    
    background:url('./img/fondz3.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    padding-top:75px;  
    padding-bottom: 75px;
}
.wrapper{
    box-sizing: border-box;
    padding: 37px;
    width:480px;
    height:1390px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size:25px;
    font-family: Pathway Gothic One, sans-serif;
    color:#263555; 
} 
h4{
    font-family: Arial,  sans-serif;
    font-size:14px;
    font-weight: bold;
    line-height:19px;
    color:#263555; 
}
p{
    font-size:12px; 
    line-height:17px;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: normal;
}    
.plane{
    height:100px; 
    width:406px;
    background:url('./img/plane.jpg'); 
    background-size:cover;
    background-position: top;
    }
.imp{
    display: block;
    padding-right: 70px;
    font-family: "Arial"; sans-serif;
    font-size:12px;
    line-height:17px;
    }
.omp{
    display: block;
    padding-right: 70px;
    font-family: Arial, sans-serif;
    font-size:12px;
    line-height:17px;
}
.velit{
    display: block;
    padding-right: 70px;
    font-family: Arial, sans-serif;
    font-size:12px;
    line-height:17px;
}
.line{
    display:block;
    height: 1px;
    width:406px;
    background:gray;
    margin-top:50px;
    margin-bottom:50px;
}
.listed1 ul{
    padding-left:20px;
}
.listed2 ul{
    padding:0px;
}
li{
    list-style: none;
    line-height: 22px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color:#263555;
    padding-right:20px;
    padding-bottom:10px;
}
.listed1 {
    display:inline-block;
    box-sizing: content-box;
    width:201px;
    height:150px;
    vertical-align: top; 
}
.listed2 {
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    width:201px;
    height: 150px;
} 
