body{
margin: 0%;
}
.wrappertop{
    width: 100%;
    background-position:center;
    background-image: url("img/background.jpg"); 
    background-repeat: no-repeat;
    margin: 0%;
}
.wrapper{
    max-width: 320px;
    margin: auto;
    padding-top: 1.25rem;
    padding-bottom: 3rem;
    
}
.logo{
    display:block;
    font-family: Montserrat, sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: 700;
    text-align: center;
    margin-top: 7.5rem;
    
}
.login{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    font-family: MontserratRegular, sans-serif;
    font-size: 0.875rem;
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
    text-align: center;
    padding: 0.4375rem;
    vertical-align: top;
    margin-left: 21.875%;
}
.signup{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    font-family: MontserratRegular, sans-serif;
    font-size: 0.875rem;
    text-decoration: none;
    color:#ffffff;
    font-weight: 700;
    text-align: center;
    border:2px solid #ffffff;
    border-radius: 1.5625rem;
    padding: 0.4375rem 1.125rem 0.4375rem 1.125rem;
    vertical-align: top;
    margin-left: 3.125%;
}
h2{
    font-family: Montserrat, sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: 700;
    
}
h3{
    display: block;
    margin-left: 9.375%;
    margin-right: 9.375%;
    font-family: Roboto, sans-serif;
    font-size: 1.125rem;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}
.red{
    display: block;
    background: #ff4e50;
    border-radius: 1.5625rem;
    padding: 0.75rem;
    text-align: center;
    font-family: MontserratRegular, sans-serif;
    font-size: 0.875rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 8.4375rem;
    margin-left: 6.25%;
    margin-right: 6.25%;
}
.wrapperbottom{
    max-width: 320px;
    margin: 4.375rem auto auto auto;
    
}
.partner{
    position: relative;
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    color: #8f8f8f;
    font-weight: 400;
}
.mem{
    position: absolute;
    top:5.3125rem; 
    right: 6.125rem;
}
h4{
    font-family: Montserrat, sans-serif;
    font-size: 1.375rem;
    color:#333333;
    text-align: center;
    font-weight: 700;
}

h5{
    font-family: Montserrat, sans-serif;
    color:#333333;
    font-size: 0.875rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
p{
    display: block;
    margin-left: 15.625%;
    margin-right: 15.625%;
    margin-bottom: 1.85rem;
}
.transparent{
    display: block;
    border:2px solid #ff4e50;
    border-radius: 1.5625rem;
    padding: 0.75rem;
    text-align: center;
    font-family: MontserratRegular, sans-serif;
    font-size: 0.875rem;
    color: #ff4e50;;
    text-decoration: none;
    font-weight: 700;
    margin: 2rem auto 3rem auto;
    margin-left: 6.25%;
    margin-right: 6.25%;
}
@media (min-width:520px){

.wrapper{
    max-width: 670px;
}
.logo{
    display:block;
    float: left;
}    
.mem{
    position:absolute;
    top:5.3125rem; 
    right: 3.125rem;
}
h2{
    
    max-width:32rem;
    margin-top: 10rem;
    font-family: Montserrat, sans-serif;
    font-size: 3.25rem;
    color:#ffffff;
    text-align: center;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
}
.red{
    max-width:13rem;
    margin: 2.375rem auto 8.4375rem auto;
}
h3{
    font-size: 1.5rem;
}
nav{
    display:block;
    float: right;
    margin-right: 0rem;
    text-align: right;
    min-width: 10.625rem;
    margin-top: 1.0625rem;
}
.logo{
    display: block;
    margin-top: 1.5625rem;
}
.login, .signup{
padding-top: 0.5625rem;
padding-bottom: 0.5625rem;
margin-left: -0.25rem;
}
#log{
    margin-right: 1.25rem;
}
.wrapperbottom{
    max-width: 492px;
    margin: 4.375rem auto auto auto;
    
}  
.members{    
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partner{
    max-width: 230px;
    margin-bottom: 3.5rem;
}
.transparent{
    max-width:13rem;
    margin: -1rem auto 3rem auto;
}
p{
    margin: 0%;
}}

@media (min-width: 970px){
.wrapper{
 max-width: 970px;
 padding-left: 0.9375rem;
 padding-right: 0.9375rem;

}
.wrapperbottom{
    max-width: 970px;
    margin: 4.375rem auto auto auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
.wrappertop{
    width: 100%;
    background-position:center;
    background-image: url("img/background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}}    
 