body{
    margin: 0%; 
 }
 .background_wrapper{
     width: 100%;
     padding-bottom:15.625rem; 
     background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 227, 138, 0.8)), 
     to(rgba(241, 129, 129, 0.8))), url("..//img/background.jpg"); 
     background-image: -webkit-linear-gradient(bottom, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8)), url("..//img/background.jpg"); 
     background-image: -o-linear-gradient(bottom, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8)), url("..//img/background.jpg"); 
     background-image: linear-gradient(to top, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8)), url("..//img/background.jpg");
     background-position:center;
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0%;
     
 }
 .container{
     max-width: 1200px;
     margin: auto;
     padding-top: 1.25rem;
 }
 
 .menu_link{
     text-decoration: none;
     color: inherit;
 }
 .logo{
     display: inline-block;
     min-width: 32.5rem;
     min-height: 4.375rem;
     margin-top: 0px;
     vertical-align: top;
     font-family: Montserrat, sans-serif;
     color: white;
     font-size: 1.875rem;
     font-weight: 600;
     
 }
 .menu{
     display: inline-block;
     min-width: 40.625rem;
     min-height: 4.375rem;
     margin-left: -0.25rem;
     padding-top: 0px;
 }
 .menu_list{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     list-style: none;
     -ms-flex-pack:distribute;
         justify-content:space-around;
     font-family: Montserrat, sans-serif;
     color: white;
     font-size: 0.875rem;
     text-transform: uppercase;
 }
 .menu_link--busket{
     display: block;
     background-image: url("..//icons/busket.svg");
     width: 1.125rem;
     height: 0.9375rem;
     
 }
 .menu_link--search{
     display: block;
     background-image: url("..//icons/search.svg");
     width: 1.125rem;
     height: 1.125rem;
 }
 .menu_item:hover{
     color:#fce38a;
     border-bottom: 3px solid #fce38a;
 }
 .menu_item{
     padding-bottom: 0.4375rem;
 }
 
 .greeting{
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     color:white;
 }
 .greeting_subtitle{
     font-family: "Kaushan Script", cursive;
     font-size: 4.5rem;
     font-weight: 100;
     margin-top: 9.375rem;
     
 }
 .greeting_title{
     font-family: Montserrat, sans-serif;
     font-size: 9.375rem;
     text-transform: uppercase;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     
 }
 .greeting_button{
     display: block;
     border: 3px solid white;
     max-width: 10rem;
     max-height: 2.1875rem;
     line-height: 2.1875rem;
     margin:3.125rem auto 0 auto;
     font-family: Montserrat, sans-serif;
     font-size: 0.875rem;
     text-transform: uppercase;
     text-decoration: none;
     color: inherit;
 
 }
 h4{
     font-family: "Kaushan Script", cursive;
     font-size: 1.5rem;
     font-weight: 100;
     text-align: center;
 }
 h4::first-letter{
     font-family: "Kaushan Script", cursive;
     font-size: 1.5rem;
     font-weight: 100;
     text-transform: uppercase; 
     color:#333333;
 }
 .small_header{
     display: block;
     font-family: Montserrat, sans-serif;
     font-size: 1.875rem;
     text-transform:uppercase;
     font-weight: 600; 
     text-align: center;
     margin-top: 1.875rem;
     margin-bottom: 2.1875rem;
     color:#333333;
 }
 
 h4::after{
     content: "";
     display: block;
     max-width: 3.75rem;
     min-height: 0.1875rem;
     background: #f38181;
     margin: auto;
     
 }
 .team_text{
     font-family:Roboto, sans-serif;
     font-size: 0.9375rem;
     color:#999999;
     margin-top: 3%;
     text-align: center;
 }
 .article{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-top: 4.0625rem;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-wrap:wrap;
         flex-wrap:wrap;
 
 }
 .article_icon{
     float: left;
     margin-right: 1.5625rem;
     margin-bottom: 2.5rem;
 }
 .article_services{
     display: inline-block;
     font-size: 0.875rem;
     font-family: Montserrat, sans-serif;
     color: #333333;
     text-transform: uppercase;
     vertical-align: top;
 }
 .article_set{
     display: block;
     max-width: 23.125rem;
     min-height: 6.875rem;
 }
 .article_text{
     font-family:Roboto, sans-serif;
     font-size: 0.9375rem;
     color:#999999;
     margin-top: 3%;
     text-transform: initial;
 }
 
 .cards_wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin-top: 5.9375rem;
 }
 .cards_left, .cards_middle, .cards_right{
     position: relative;
     max-width: 23.75rem;
     max-height: 29.375rem;
     
 }
 .cards_left:hover, .cards_middle:hover, .cards_right:hover{
     -webkit-transform: translate(-10px, -10px);
         -ms-transform: translate(-10px, -10px);
             transform: translate(-10px, -10px);
     -webkit-transition: linear 220ms;
     -o-transition: linear 220ms;
     transition: linear 220ms;
     -webkit-box-shadow: 10px 10px #95e1d3;
             box-shadow: 10px 10px #95e1d3;
 }
 .cards_social{
     display: none;
     position: absolute;
 }
 .cards_left:hover .cards_social, 
 .cards_middle:hover .cards_social,
 .cards_right:hover .cards_social{
     
     display: -webkit-box;
     
     display: -ms-flexbox;
     
     display: flex;
     -webkit-box-pack:center;
         -ms-flex-pack:center;
             justify-content:center;
     top: 0%;
     -webkit-box-align:center;
         -ms-flex-align:center;
             align-items:center;
     -ms-flex-negative: 1;
         flex-shrink: 1;
     width: 23.75rem;
     height: 29.375rem;
     background: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 227, 138, 0.8)), 
     to(rgba(241, 129, 129, 0.8)));
     background: -webkit-linear-gradient(bottom, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8));
     background: -o-linear-gradient(bottom, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8));
     background: linear-gradient(to top, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8));
 }
 .cards_social--items {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     width: 3.4375rem;
     height: 3.4375rem;
     background: #fce38a;
     margin-right: 0.0625rem;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     fill:#f38181;
 }
 
 .cards_social--items:hover {
     background-color: #f38181;
     stroke:white;
     fill:white;
 }
 
 .cards{
     max-width: 23.75rem;
     min-height: 43.75rem;
 }
 .cards_sign--name{
     display: block;
     color: #333333;
     font-family: Montserrat, sans-serif;
     font-size: 0.875rem;
     text-transform: uppercase;
     font-weight: 500;
     text-align: center;
     vertical-align: middle;
 }
 .role{
     display: block;
     color: #999999;
     font-family: Roboto, sans-serif;
     font-size: 0.9375rem;
     font-style: italic;
     margin-top: 0.9375rem;
     text-transform: initial;
 }
 footer{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     border-top: 1px solid #e5e5e5;
     padding-top: 0.625rem;
 }
 .copyright{
     display:block;
     color: #333333;
     font-family: Montserrat, sans-serif;
     font-size: 0.875rem;
     font-weight: 500;
 }
 .copyright_company--name{
     color: #f38181;
     text-decoration: none;
     line-height: 2.5rem;
 }
 form{
     line-height: 3.125rem;
 }
 .button{
     display:inline-block;
     min-width: 10rem;
     height: 2.5rem;
     background: #95e1d3;
     border: none;
     font-family: Montserrat, sans-serif;
     font-size: 0.875rem;
     text-transform: uppercase;
     font-weight: 600;
     color: white;
     margin-left: -0.25rem;
     margin-bottom: 0.3125rem;
     vertical-align: top;
     cursor: pointer;
 }
 .placeholder{
     display: inline-block;
     min-width: 15rem;
     height: 2.25rem;
     vertical-align: top;
     line-height: 0.625rem;
     color: #e5e5e5;
     font-family: Roboto, sans-serif;
     font-size: 0.9375rem;
     font-style: italic;
     border: 1px solid #e5e5e5;
     text-transform: initial;
     padding-left: 0.625rem;
 }
 @media (-webkit-min-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1),(min-resolution: 192dpi),(min-resolution: 2dppx){
     .background_wrapper{
     width: 100%;
     padding-bottom:250px; 
     background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 227, 138, 0.8)), 
     to(rgba(241, 129, 129, 0.8))), url("..//img/background-x2.jpg"); 
     background-image: -webkit-linear-gradient(bottom, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8)), url("..//img/background-x2.jpg"); 
     background-image: -o-linear-gradient(bottom, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8)), url("..//img/background-x2.jpg"); 
     background-image: linear-gradient(to top, rgba(250, 227, 138, 0.8), 
     rgba(241, 129, 129, 0.8)), url("..//img/background-x2.jpg");
     background-position:center;
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0%;
     }
 }